<h1>Notifications center</h1>

<% @notifications.each do |noti| %>
<p><%= noti.actor.username %> <%= noti.action %> on your project "<%= noti.notifiable.project.name %>" at <%= noti.created_at.strftime("%b %e, %l:%M %p") %> </p>

<% end %>

