<div class="footer">
  <div class="list-icons">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-github-square"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-weixin"></i></a>
  </div>
  <p>Coded with ❤️ at Le Wagon</p>
</div>
