<div class="modal fade" id="learnMoreModal" tabindex="-1" role="dialog" aria-labelledby="hackerDayModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="learnMoreModalLabel">What's a Hack Session?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Project owners can schedule hack sessions for their projects, and anyone can join.</p>

        <p>Think of hack sessions as mini-hackathons that last one full day (8-12 hours), where you work together to build a minimum viable product (MVP) or a new feature for an existing digital product.</p>
      </div>
    </div>
  </div>
</div>
