<div class="submenu"></div>

<!-- show all projects -->

<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <%= image_tag "index-banner.jpg", alt: "image", class: "card-img-top" %>
          <div class="card-body">
            <%= link_to project_path(project) do %>
            <h6><%= project.name %></h6>
            <% end %>
            <p><%= project.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
