<h1>Project Show Page</h1>

<!-- All informations about one project -->
<!-- Still need to add pictures -->
<!-- cover photo, photo1, photo2, photo3 -->

<%= @project.name %>
<%= @project.description %>
<p><%= @project.user.first_name %>




