teamCommentList.insertAdjacentHTML("afterbegin", `<div class="comment-header">
              <img src="<%= @hacker_day.team_comments.last.user.profile_avatar_url %>" class="avatar">
              <p><%= link_to @hacker_day.team_comments.last.user.username, user_path(@hacker_day.team_comments.last.user) %> <em><%= distance_of_time_in_words(Time.now - @hacker_day.team_comments.last.created_at) %> ago</em></p>
            </div>
            <div class="comment-content">
              <p><%= @hacker_day.team_comments.last.content %></p>
            </div>`);
