<h1>Profile Page</h1>

<!-- NOT WORKING YET, DON'T CODE USE THIS PAGE -->


<!-- All information about user -->
<!-- All user's projects -->
 <% @collaboration.each do |c| %>
 <!-- projects information -->
 <div>
  <%= c.project.name %>
  <%= c.project.description %>
</div>
<% end %>
