.palm-tree-right {
  position: absolute;
  bottom: 280px;
  left: 160px;
  transform: translate(0%, 0px) scale(2.6);
  opacity: 0.3;
}

.palm-tree-left {
  position: absolute;
  bottom: 280px;
  right: 160px;
  transform: translate(0%, 0px) scale(2.6);
  opacity: 0.3;
}

.waves {
  position: absolute;
  bottom: 120px;
  opacity: 0.2;
  transform: translate(0%, 0px) scale(1.5);
}
