.palm-tree-right {
  position: absolute;
  bottom: 35%;
  left: 10%;
  transform: translate(0%, 0px) scale(2.6);
  opacity: 0.3;
}

.palm-tree-left {
  position: absolute;
  bottom: 35%;
  right: 10%;
  transform: translate(0%, 0px) scale(2.6);
  opacity: 0.3;
}

.waves {
  position: absolute;
  bottom: 5%;
  opacity: 0.2;
  transform: translate(0%, 0px) scale(1.5);
}
