.banner-index {
  height: 320px;
  width: 100%;
  margin: 0;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $red;
  h3 {
    font-family: "Roboto Mono";
    font-weight: bold;
  }
}

.banner-text {
  text-align: center;
}
