.banner-index {
  height: 560px;
  width: 100%;
  margin: 0;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $red;
  position: relative;
}

.banner-text {
  text-align: center;
}
