.box-search {
  padding: 8px 0;
}

.box-nav-links {
  display: flex;
  padding: 8px 0;
  a {
    padding-right: 8px;
    color: $gray;
  }
}

.box-description {
  padding: 16px 0;
  i {
    color: $dark-gray;
    opacity: 0.8;
  }
  i:hover {
    opacity: 1;
  }
}

.icons-project-crud {
  padding-top: 16px;
  display: flex;
  justify-content: flex-end;
  i {
    padding-right: 2px;
    color: $dark-gray;
    opacity: 0.8;
  }
  i:hover {
    opacity: 1;
  }
}

.box-hacksession {
  padding-top: 16px;
  border-top: 1px solid $light-gray;
}

.box-comments {
  h6 {
    padding-top: 16px;
    padding-bottom: 8px;
    margin: 0;
    text-align: right;
    color: $gray;
  }
}

.box-comment-messages {
  overflow: scroll;
  height: 360px;
}

.box-team-comment-messages {
  overflow: scroll;
  height: 360px;
}

.box-hack-info {
  padding-top: 16px;
  border-top: 1px solid $light-gray;
}

.box-collaborators {
  display: flex;
  padding: 8px 0 16px 0;
  align-items: center;
  i {
    margin: 0;
    color: $dark-gray;
    opacity: 0.8;
    padding-right: 8px;
  }
}

.box-project-public {
  padding-bottom: 16px;
  margin-bottom: 16px;
  a {
    display: flex;
    align-items: center;
    color: $dark-gray;
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
  }
  i {
    padding-right: 8px;
  }
  p {
    margin: 0;
    font-weight: bold;
  }
}

.box-tags {
  display: flex;
  align-items: top;
  color: $dark-gray;
  opacity: 0.8;
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  span {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 8px;
    padding-bottom: 4px;
  }
  i {
    padding-right: 8px;
    padding-top: 4px;
  }
  a {
    padding: 1px 4px;
    border: 1px solid $gray;
    border-radius: 4px;
    color: $dark-gray;
    font-size: 12px;
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
  }
}

.box-user-profile {
  margin: 16px 0;
  padding-top: 16px;
  background-color: #fff;
  height: 100vh;
  border-radius: 8px;
  text-align: center;

  .avatar-large {
    margin-bottom: 8px;
  }

  a {
    text-decoration: none;
    color: $off-black;
  }

  .location {
    font-size: 14px;
    color: $gray;
    padding-bottom: 16px;
    border-bottom: 1px solid $light-gray;
  }

}




















