.btn-outline-secondary {
  border-color: $gray;
  color: $gray;
}

.btn-outline-secondary:hover {
  border-color: $light-gray;
  color: $light-gray;
  background-color: transparent;
}

.btn-upload {
  border: 1px solid $light-gray;
  padding: 4px 8px;
  border-radius: 4px;
  color: $gray;
  opacity: 0.6;
}

.btn-upload:hover {
  opacity: 1;
  color: $gray
}

.btn-filter {
  padding: 4px 8px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  color: $dark-gray;
  opacity: 0.7;
}

.btn-filter:hover {
  opacity: 1;
  color: $dark-gray
}

.btn-signup {
  border: 1px solid $red;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  color: $red;
  font-weight: bold;
  font-family: "Roboto Mono" !important;
  transition: all .15s ease-in-out;
}

.btn-signup:hover {
  border: 1px solid transparent;
  color: #FFF;
  background-color: $red;
}

.btn-signup-small {
  border: 1px solid $red;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: transparent;
  color: $red;
  font-weight: bold;
  font-family: "Roboto Mono" !important;
  transition: all .15s ease-in-out;
  i {
    padding-right: 4px;
  }
}

.btn-signup-small:hover {
  border: 1px solid transparent;
  color: #FFF;
  background-color: $red;
}

.btn-reset {
  border: 1px solid $gray;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  color: $gray;
  font-weight: bold;
  font-family: "Roboto Mono";
  transition: all .15s ease-in-out;
}

.btn-reset:hover {
  border: 1px solid transparent;
  color: #FFF;
  background-color: $dark-gray;
}

.btn-social {
  border: 1px solid $dark-gray;
  padding: 4px 8px;
  border-radius: 4px;
  color: $dark-gray;
  opacity: 0.7;
  font-size: 14px;
  font-weight: bold;
}

.btn-social:hover {
  opacity: 1;
  color: $dark-gray;
}

.btn-social-like {
  border: 1px solid $dark-gray;
  padding: 4px 8px;
  border-radius: 4px;
  color: $dark-gray;
  opacity: 0.7;
  font-size: 14px;
  font-weight: bold;
}

.btn-social-like:hover {
  border: 1px solid $red;
  color: $red;
  opacity: 0.8;
}

.btn-social-red {
  border: 1px solid $red;
  padding: 4px 8px;
  border-radius: 4px;
  color: $red;
  opacity: 0.7;
  font-size: 14px;
  font-weight: bold;
}

.btn-social-red:hover {
  opacity: 1;
  color: $red;
}


