.card-section-header {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
  h5 {
    color: $gray;
  }
}

.card {
  background-size: cover;
  padding: 8px;
  margin: 16px 0px;
}

.card-body {
  height: 36px;
  padding: 8px 0px;
  color: #444444;
  a {
    color: #444444;
  }
  a:hover {
    color: $gray;
  }
}

.card-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h6 {
    margin: 0;
  }
}

.card-img-top {
  height: 240px;
  object-fit: cover;
}
