.card-section-header {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
  h5 {
    color: $dark-gray;
  }
}

.card {
  background-size: cover;
  padding: 8px;
  margin: 16px 0px;
}

.card-body {
  height: 36px;
  padding: 8px 0px;
  color: #444444;
  a {
    color: #444444;
  }
  a:hover {
    color: $gray;
  }
}

.card-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h6 {
    margin: 0;
  }
}

.card-img-container {
  height: 240px;
  position: relative;
}

.card-img-top {
  height: 240px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: $gray;
}

.card-img-container:hover .overlay {
  opacity: .9;
}

.hover-text {
  position: absolute;
  color: white;
  font-style: italic;
  font-size: 12px;
  text-align: left;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color:#BF3F50
}

.project-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}





