.body-container {
  background-color: #fff;
}

.container-description {
  display: flex;
  margin-bottom: 32px;
}

.container-card {
  margin-bottom: 16px;
  border: 1px solid $light-gray;
  background-color: #fff;
}
