
.dropdown-avatar {
  position: relative;
  padding: 8px 0;
  height: 54px;
  float: left;
  // overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $off-black;
  min-width: 200px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-container {
  padding: 0;
}

.dropdown-content a {
  float: none;
  color: $gray;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #444444;
  color: $light-gray;
}

.dropdown-avatar:hover .dropdown-content {
  display: block;
}

.dropdown-divider {
  margin: 8px 16px 0 16px;
  height: 8px;
  border-bottown: 1px solid $gray;
  opacity: 0.2;
}

.dropdown-notifications {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;
  height: 54px;
  float: left;
  // overflow: hidden;
  i {
    color: $gray;
  }
  i:hover {
    color: $light-gray;
  }
}

.dropdown-menu-right {
  background-color: $off-white;
  a {
    color: $dark-gray;
    font-size: 12px;
  }
}


