#hackerDayMapModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mapboxgl-popup {
  max-width: 150px;
  font-family: "Roboto Mono";
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Roboto Mono";
}
