.navbar-lewagon {
  justify-content: space-between;
  background: $off-black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 24px;
}

.nav-link {
  color: $gray !important;
}

.nav-link:hover {
  color: $light-gray !important;
}

.navbar-toggler-icon {
  span {
    padding: 8px;
  }
}

#navbarSupportedContent {
  color: white;
}
