<h1>Create a new HackerDay</h1>


<%= simple_form_for @hacker_day, url: project_hacker_days_path(params[:project_id]) do |f| %>
<%= f.input :location, label: "Location" %>


<%= f.date :date, label: "Date" %>
<%= f.button :submit %>

<% end %>



